@font-face {
    font-family: 'Monologue';
    src: url('./fonts/Monologue.woff') format('woff2'), url('./fonts/Monologue.woff') format('woff'), url('./fonts/Monologue.ttf') format('truetype'), url('./fonts/Monologue.otf') format('opentype');
}
@font-face {
    font-family: 'Regards';
    src: url('./fonts/Regards.woff') format('woff2'), url('./fonts/Regards.ttf') format('truetype'), url('./fonts/Regards.otf') format('opentype');
}
@font-face {
    font-family: 'Barlow Condensed Regular';
    src: url('./fonts/BarlowCondensed-Regular.ttf') format('truetype');
}
