@use '../abstracts' as a;

body {
    font-family: a.$font-text, sans-serif;
    font-size: 2.4rem;
    color: a.$color-dark-gray;
}

p,
li {
    font-family: a.$font-text;
    margin-bottom: 2rem;
}

a {
    color: a.$color-primary;
    text-decoration: none;
    transition: all 0.2s;

    &:hover {
        color: a.$color-secondary;
    }
}

h2 {
    color: a.$color-primary;
    font-size: 6rem;
    font-family: a.$font-head;

    @include a.respond(screen_500) {
        font-size: 4rem;
    }

}

h3 {
    color: a.$color-primary;
    font-size: 2.8rem;
    font-weight: normal;
}
